#font{
	font-family: 'Anton', sans-serif;
}
.section{
	width: 100%;
	height: 695px;
	background: url(1.jpg);
	background-size: cover;
}
.overlay{
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background : rgba(0,0,0,0.7);
}
.display-1{
	margin-top: 10%;
}

#btn{
	display: block;
	max-width: 300px;
	margin: auto;
	margin-top: 20px;
}
hr{
	height: 1px;
	width: 10%;
	background-color: red;
}
#card{
	background-color: #01CBC6;
}
#footer{
	background-color: #2F363F;
}