#font{
	font-family: 'Anton', sans-serif;
}
.section{
	width: 100%;
	height: 695px;
	background: url(1.jpg);
	background-size: cover;
}
.overlay{
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background : rgba(0,0,0,0.7);
}
.display-1{
	margin-top: 10%;
}

#btn{
	display: block;
	max-width: 300px;
	margin: auto;
	margin-top: 20px;
}
hr{
	height: 1px;
	width: 10%;
	background-color: red;
}

.profile-pic
{
    margin-top: 25px;
}

.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img
{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h5
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #FF0000 !important;
}

.img-box:hover ul
{
    opacity: 1;
}


#card{
	background-color: #01CBC6;
}
#footer{
	background-color: #2F363F;
}
